body{
    background: rgb(1, 30, 9);
    color: aliceblue;
}
h1{
    font-size: 82px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 30%;
    margin-left: 80px;
    margin-right: 100px;
}
h2{
    margin-top: -10px;
    margin-left: 100px;
}

.utsab{
    margin-top: 100px;
margin-left: 100px;
}
input{
    margin-left: 100px;
    margin-top: 60px;
    width: fit-content;
    font-size: 20px;
    background: rgb(255, 91, 91);
    color: black;
    border: none;
    border-radius: 50px;
    padding: 20px;
}
.image{
    text-align: right;
    margin-top:-100px;
}
img{
    height: "770px";  
    width:"45%";
}