h3{
    font-size: xx-small;
text-align: right;
    font-weight: bold;
}

p {
    font-size:xx-large;
    text-align: right;
        font-weight: bold;
        color: aqua;



}

#anis{
    color: brown;
    font-size:xx-large;


}
h2:hover {
    text-align: center;
background-color: aqua;
color: blue;



}
