*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #000;
    opacity: 1;
    font-size: 22px;



}
.logo{
color:white;
font-size: 35px;
letter-spacing:10px;
cursor: pointer;
}
span{
  color: #f9004d  ;  
}
nav ul li {
    list-style-type:none;
    display:inline-block;
    padding:10px 25px;
}
nav ul li a{
    color:white ;
    text-decoration: none;
    font-weight:bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:#f9004d;
    transition:.4s;
}
body{
    background-image: url('https://img.freepik.com/free-vector/editorial-commission-concept-illustration_114360-7751.jpg?w=900&t=st=1675745312~exp=1675745912~hmac=f92176087c1b71359cd656cbe3c70b5c258978620c6c3743b9a3583a74ed1f44');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:100%;


}
