* {
    Margin: 0;
    Padding: 0;
  }
 
  
  /* Box-Sizing And Font Sizing */
  *,
  *::Before,
  *::After {
    Box-Sizing: Inherit;
  }
  
  /* Base Reset */
  * {
    Margin: 0;
    Padding: 0;
  }
  
  /* Box-Sizing And Font Sizing */
  *,
  *::Before,
  *::After {
    Box-Sizing: Inherit;
  }
  
  Html {
    Box-Sizing: Border-Box;
    Font-Size: 62.5%;
    Scroll-Behavior: Smooth;
  }
  
  @Media (Max-Width: 75em) {
    Html {
      Font-Size: 60%;
    }
  }
  
  @Media (Max-Width: 61.25em) {
    Html {
      Font-Size: 58%;
    }
  }
  
  @Media (Max-Width: 28.75em) {
    Html {
      Font-Size: 55%;
    }
  }
  
  /* Base Styling */
  
  Body {
    Font-Family: "Poppins", Sans-Serif;
    Font-Size: 1.8rem;
    Font-Weight: 400;
    Line-Height: 1.4;
    Color:black;
  }
  
  Img {
    Display: Block;
    Width: 100%;
  }
  
  H1,
  H2 {
    Font-Family: "Raleway", Sans-Serif;
    Font-Weight: 700;
    Text-Align: Center;
  }
  
  H1 {
    Font-Size: 6rem;
    Font-Size: 72px;
  
    color: #1f1f1f;

  }
  
  H2 {
    Font-Size: 8rem;
    Color: #2196f3;
    Border: 0.5px Solid #Ddd;
  }
  P {
    Font-Size: 5rem;
    Color:black;
  }
  
  /* Navigation Bar Styling */
  
  .Nav {
    Display: Flex;
    Justify-Content: Flex-End;
    Position: Fixed;
    Top: 0;
    Left: 0;
    Width: 100%;
    Height: Auto;
    Background: #3e4e88;
    Box-Shadow: 0 2px 0 Rgba(0, 0, 0, 0.4);
    Z-Index: 10;
  }
  
  Li {
    Display: Inline;
  }
  
  Ul {
    List-Style: None;
    Padding: 10px;
  }
  
  A {
    Text-Decoration: None;
    Margin-Left: 1.5em;
    Margin-Right: 1.5em;
    Font-Size: 1em;
    Color: #Fff;
  }
  A:hover {
    Color: #Fbc02d;
  }
  
  /* Section 1 Styling*/
  
  #Welcome-Section {
    Display: Flex;
    Flex-Direction: Column;
    Justify-Content: Center;
    Align-Items: Center;
    Width: 100%;
    Height: 100vh;
    Background: Linear-Gradient(90deg, #Fc466b 0%, #3f5efb 100%);
    background-image: url('Kawashima-Shigenobu.jpg');
  }
  
  /* Section 2*/
  
  
  .Projects-Section {
    Text-Align: Center;
    Padding: 10rem 2rem;
    background-color: black;
  }
  .Projects-Section-Header {
    Max-Width: 640px;
    Margin: 3rem Auto 6rem Auto;
    Border-Bottom: 0 Solid White;
    Padding-Top: 1rem;
    Padding-Bottom: 1rem;
    Border-Radius: 38px;
    Word-Spacing: 4px;
    Letter-Spacing: 3px;
    Box-Shadow: 0 5px 20px #Ddd;
    
  }
  @Media (Max-Width: 28.75em) {
    .Projects-Section-Header {
      Font-Size: 4rem;
      
    }
  }
  
  .Projects-Grid {
    Display: Grid;
    Grid-Template-Columns: Repeat(Auto-Fit, Minmax(320px, 1fr));
    Grid-Gap: 4rem;
    Width: 100%;
    Max-Width: 1280px;
    Margin: 0 Auto;
    Margin-Bottom: 6rem;
    background-color:white;
  }
  @Media (Max-Width: 30.625em) {
    .Projects-Section {
      Padding: 6rem 1rem;
    }
  
    .Projects-Grid {
      Grid-Template-Columns: 1fr;
    }
  }
  .Project {
    Background: #Ad1457;
    Box-Shadow: 1px 1px 2px Rgba(0, 0, 0, 0.5);
    Border-Radius: 28px;
   
  }
  .Project:hover {
    Box-Shadow: 6px 6px 20px Rgba(0, 0, 0, 0.6);
    Transform: Scale(1.08);
  }
  
  .Project-Image {
    Height: Calc(100% - 6.8rem);
    Width: 100%;
    Object-Fit: Cover;
    Border-Top-Right-Radius: 28px;
    Border-Top-Left-Radius: 28px;
  }
  .Project-Title {
    Font-Family: "Poppins", Sans-Serif;
    Font-Size: 2rem;
    Text-Align: Center;
    Padding: 2rem 0.5rem;
    Color:white;
    Text-Transform: Uppercase;
  }
  .Btn {
    Display: Inline-Block;
    Padding: 1rem 2rem;
    Border-Radius: 2px;
  }
  
  /* Contact Section */
  .Contact-Section {
    Display: Flex;
    Flex-Direction: Column;
    Justify-Content: Center;
    Align-Items: Center;
    Text-Align: Center;
    Width: 100%;
    Height: 80vh;
    Padding: 0 2rem;
    Background: #363748;
  }
  .Contact-Section-Header > H2 {
    Font-Size: 6rem;
  }
  #Con {
    Color: #Fff;
    Border: None;
  }
  @Media (Max-Width: 28.75em) {
    .Contact-Section-Header > H2 {
      Font-Size: 4rem;
    }
  }
  .Contact-Links {
    Display: Flex;
    Justify-Content: Center;
    Width: 100%;
    Max-Width: 980px;
    Margin-Top: 4rem;
    Flex-Wrap: Wrap;
  }
  .Contact-Details {
    Font-Size: 2.4rem;
    Text-Shadow: 2px 2px 1px #1f1f1f;
    Transition: Transform 0.3s Ease-Out;
  }
  .Contact-Details:hover {
    Transform: TranslateY(8px);
    Color: Red;
  }
  .Form {
    Max-Width: 640px;
    Margin-Top: 2rem;
    Display: Block;
    Margin-Left: Auto;
    Margin-Right: Auto;
  }
  #Email {
    Max-Width: 300px;
    Width: 300px;
    Padding-Top: 12px;
    Padding-Bottom: 12px;
    Padding-Right: 1rem;
    Padding-Left: 1rem;
    Margin-Top: 2rem;
    Border-Radius: 28px;
    Text-Align: Center;
    Outline: None;
  }
  #Submit {
    Margin-Top: 1rem;
    Background-Color: Red;
    Border-Radius: 28px;
    Padding-Top: 0.7rem;
    Padding-Right: 2.1rem;
    Padding-Bottom: 1.1rem;
    Transition: All 2s, Transform 0.5s, Box_shadow 0.5s;
  }
  #Submit:hover {
    Box-Shadow: 6px 6px 20px Rgba(0, 0, 0, 0.6);
    Transform: Scale(1.04);
  }
span{
  color: #Fc466b;
}
 
  